*
!.gitignore
!.gitkeep
!.dockerignore
!.gitattributes
!.gitlab-ci.yml
!.pylintrc
!.pre-commit-config.yaml
!LICENSE
!Makefile
!poetry.lock
!pyproject.toml
!.env_example
!.python-version
!README.md

!*/**/*.py
!*/**/*.sql
!*/**/*.sh
!*/**/*.ipynb
!*/**/*.yml
!*/**/*.yaml
!*/**/*.md
!*/**/*.dockerfile
!*/**/*.conf
!*/**/*.config
!*/**/*tar.gz
!*/**/*.whl
# сверху перед этой строкой добавлять неисключенные расширения текстовых файлов

!*/**/
!compliance/
!notebooks/
!devops/
!data/
!tests/
!dist/
# сверху перед этой строкой добавлять неисключенные директории

config/*dev.json
config/*prod.json
config/*secret.json
# сверху перед этой строкой добавлять исключенные конфиги (в том числе с секретами)

.hide
