*
!.gitignore
!.gitkeep
!.dockerignore
!.gitattributes
!.gitlab-ci.yml
!.pylintrc
!.pre-commit-config.yaml
!LICENSE
!Makefile
!poetry.lock
!pyproject.toml
!.env_example
!.python-version

!*/**/*.py
!*/**/*.sql
!*/**/*.sh
!*/**/*.json
!*/**/*.ipynb
!*/**/*.yml
!*/**/*.yaml
!*/**/*.md
!*/**/*.dockerfile
!*/**/*.conf
!*/**/*.config
# сверху перед этой строкой добавлять неисключенные расширения текстовых файлов

!*/**/
!src/
!config/
!notebooks/
!devops/
!data/
!tests/
# сверху перед этой строкой добавлять неисключенные директории

config/*dev.json
config/*prod.json
config/*secret.json
# сверху перед этой строкой добавлять исключенные конфиги (в том числе с секретами)

.hide
